body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
  background-color: #fff;
  background: url(../images/half_elipse1.png) no-repeat left top 40px;
}

.oleo{
  font-family: "Oleo Script Swash Caps", cursive;
}

.font-30{
  font-size: 30px;
  line-height: 18px;
}

.font-20{
  font-size: 20px;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h4 {
  font-size: 2em;
  font-weight: 700;
}

h5 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 3em;
  font-weight: 700;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

header {
  padding-top: 0.5em;
  border-bottom: 2px solid #c1c1c1;
}
/* header .nav_logo {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  width: 170px;
} */
header .nav_menu {
  display: flex;
  align-items: center;
  text-align: left;
  /* padding-right: 4em; */
}
header .nav_menu .nav-item {
  padding-right: 0.5em;
  padding-left: 0.5em;
  position: relative;
  font-size: 1em;
}
header .nav_menu .nav-item::after {
  content: "|";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header .nav_menu .nav-item:last-child::after {
  display: none;
}
header .contbtnArea {
  text-align: right;
}
header .contbtnArea .contBtn {
  padding: 0.6em 1.5em;
  border-radius: 5px;
  border: 1px solid #191919;
  color: #191919;
  transition: all ease 0.3s;
}
header .contbtnArea .contBtn:hover {
  background-color: #191919;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}

.banner_heading {
  padding-left: 10%;
}
.banner_heading h2 {
  padding-top: 1em;
}
.banner_heading h1 {
  font-size: 5.5em;
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: bold;
  line-height: 90px;
  padding-top: 0.1em;
}
.banner_heading h4 {
  padding-top: 1em;
  font-family: "Oleo Script Swash Caps", cursive;
}
.banner_heading .hotel_nig {
  width: 100%;
  background-color: #191919;
  padding: 1em 2em;
  border-radius: 50px;
  text-align: center;
  transition: all ease 0.3s;
  height: 85px;
  display: flex;
  font-size: 12px !important;
  justify-content: center;
  align-items: center;
}
.banner_heading .hotel_nig span {
  display: block;
}
.banner_heading .hotel_nig a {
  color: #fff;
}
.banner_heading .hotel_nig:hover {
  background-color: #fff;
  border: 2px solid #191919;
}
.banner_heading .hotel_nig:hover a {
  color: #191919;
}
.banner_heading .hotel_usa {
  width: 100%;
  background-color: #fff;
  border: 2px solid #191919;
  padding: 1em 2em;
  border-radius: 50px;
  text-align: center;
  font-size: 12px !important;
  transition: all ease 0.3s;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_heading .hotel_usa span {
  display: block;
}
.banner_heading .hotel_usa a {
  color: #191919;
}
.banner_heading .hotel_usa:hover {
  width: 100%;
  background-color: #191919;
  border: 0px solid #fff;
}
.banner_heading .hotel_usa:hover a {
  color: #fff;
}

.how_book {
  margin-top: 5em;
}
.how_book .book_brown {
  background: #856D47;
  width: 100%;
  position: relative;
  height: 370px;
}
.how_book .book_brown .book_image {
  position: absolute;
  left: 50px;
  top: -25px;
}
.how_book .book_text {
  padding-left: 5em;
}
.how_book .book_text h3 {
  font-family: "Oleo Script Swash Caps", cursive;
}

.murphy_mainsion {
  margin-top: 5em;
  font-family: "Oleo Script Swash Caps", cursive;
}
.murphy_mainsion h3 {
  text-align: center;
}
.murphy_mainsion .mur_cont {
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center; 
}
.murphy_mainsion .mur_cont h5 {
  padding-top: 1em;
}

.wht_do {
  background-color: #e3e3e3;
  padding: 3em 0;
  margin: 3em 0;
}
.wht_do .wht_txt h4 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 2.5em;
}
.customer {
  margin: 3em 0;
}
.customer .cust_text {
  text-align: center;
}
.customer .cust_text h4 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 2.5em;
}
.customer .cust_text .cust_cont .cust_img {
  width: 90px;
  height: 75px;
  margin: 20px auto;
  border-radius: 50%;
}

footer {
  margin: 2em 0 0;
  background-color: #191919;
  padding: 4em 0;
}
footer .footer_cap {
  color: #fff;
  text-align: center;
  margin-top: 1em;
}

.bedroom {
  margin-top: 4em;
  margin-bottom: 5em;
}
.bedroom .bed_cnt {
  margin-bottom: 5em;
}
.bedroom .bed_cnt .bed_text {
  order: 1;
}
.bedroom .bed_cnt .bed_text h3 {
  font-family: "Oleo Script Swash Caps", cursive;
}
.bedroom .bed_cnt .bed_img_cont {
  order: 2;
  margin-top: 1em;
}
.bedroom .bed_cnt .bed_img_cont .bed_image {
  border-radius: 175px;
  width: 100%;
}
.bedroom .bed_cnt:nth-child(even) .bed_text {
  order: 2;
}
.bedroom .bed_cnt:nth-child(even) .bed_img_cont {
  order: 1;
}

.banner_cnt {
  position: relative;
  margin-top: 1em;
}
.banner_cnt .bonner_img {
  border-radius: 10px;
  position: relative;
}
.banner_cnt .bonner_img img {
  border-radius: 40px;
}
.banner_cnt .banner_text {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.banner_cnt .banner_text h3 {
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.banner_cnt .banner_text h3 span {
  font-weight: 300;
  font-size: 0.8em;
  display: block;
}

.mid_cont {
  margin-top: 4em;
}
.mid_cont .cont_form .form-control {
  border: 1px solid #191919;
  border-radius: 5px;
  height: 60px;
}
.mid_cont .cont_form textarea.form-control {
  height: 200px;
}
.mid_cont .cont_form button {
  background-color: #191919;
  padding: 1em 4em;
  color: #fff;
  float: right;
}
.mid_cont .cont_img {
  margin-bottom: 2em;
}
.mid_cont .cont_tab .tab_img {
  margin-bottom: 2em;
}
.mid_cont .cont_tab .tab-content {
  margin-top: 2em;
}
.mid_cont .cont_tab .book_table .book_table_but {
  border: 3px solid #191919;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  height: 60px;
  font-size: 1.2em;
  line-height: 57px;
  transition: all ease 0.3s;
}
.mid_cont .cont_tab .book_table .book_table_but a {
  color: #191919;
}
.mid_cont .cont_tab .book_table .book_table_but:hover {
  background-color: #191919;
}
.mid_cont .cont_tab .book_table .book_table_but:hover a {
  color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #191919;
  border-radius: 30px;
  padding: 0.8em 3em;
}

.nav-pills .nav-link {
  background: #fff;
  border: 1px solid #191919;
  border-radius: 30px;
  padding: 0.8em 3em;
  color: #191919;
  margin-right: 1em;
}

.book_now {
  border: 2px solid #191919;
  width: 300px;
  color: #191919;
  height: 50px;
  transition: all ease 0.3s;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.book_now a {
  color: #191919;
}

.book_now:hover {
  background-color: #191919;
  color: #fff;
}
.book_now:hover a {
  color: #fff;
}

.how_looks {
  margin: 5em 0;
}
.how_looks h3 {
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
}
.how_looks .how_luks_mg {
  margin-bottom: 1.5em;
}

@media all and (max-width: 767px) {
  header {
    border: none;
  }
  header .nav_logo_mobile {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 25px;
  }
  header .nav_logo_mobile span {
    display: block;
  }
  header .nav_menu {
    display: flex;
    text-align: left;
    padding-right: 0em;
  }
  header .nav_menu .nav-item {
    padding-right: 0em;
    padding-left: 0;
  }
  header .nav_menu .nav-item::after {
    display: none;
  }
  header .contbtnArea {
    text-align: left;
    padding-top: 0.5em;
  }
  header .contbtnArea .contBtn {
    padding: 0.6em 1.5em;
  }
  header .contbtnArea .contBtn:hover {
    background-color: #191919;
    color: #fff;
  }

  .banner_heading {
    padding-left: 2em;
  }
  .banner_heading h2 {
    padding-top: 1em;
  }
  .banner_heading h1 {
    font-weight: bold;
    line-height: 70px;
    padding-top: 0.1em;
    font-size: 4em;
  }
  .banner_heading h4 {
    padding-top: 1em;
    font-family: "Oleo Script Swash Caps", cursive;
  }
  .banner_heading .hotel_nig {
    width: 90%;
  }
  .banner_heading .hotel_usa {
    width: 90%;
  }

  .banner_cnt {
    position: relative;
    margin-top: 1em;
  }
  .banner_cnt .bonner_img {
    border-radius: 10px;
    position: relative;
  }
  .banner_cnt .banner_text h3 {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    line-height: 25px;
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #191919;
    border-radius: 30px;
    padding: 0.3em 0.8em;
  }

  .nav-pills .nav-link {
    background: #fff;
    border: 1px solid #191919;
    border-radius: 30px;
    padding: 0.3em 0.8em;
    color: #191919;
    margin-right: 0.2em;
  }

  .how_book {
    margin-top: 3em;
  }
  .how_book .book_brown {
    background: #856D47;
    width: 100%;
    position: relative;
    height: 210px;
  }
  .how_book .book_brown .book_image {
    position: absolute;
    left: 20px;
    top: -20px;
  }
  .how_book .book_text {
    padding-left: 1em;
    margin-top: 1em;
  }
  .how_book .book_text h3 {
    font-family: "Oleo Script Swash Caps", cursive;
  }

  .bedroom {
    margin-top: 3em;
  }
  .bedroom .bed_cnt {
    margin-bottom: 2.5em;
  }
  .bedroom .bed_cnt .bed_text {
    order: 1;
  }
  .bedroom .bed_cnt .bed_text h3 {
    font-family: "Oleo Script Swash Caps", cursive;
    line-height: 40px;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
  }
  .bedroom .bed_cnt .bed_img_cont {
    order: 2;
    margin-top: 1em;
  }
  .bedroom .bed_cnt .bed_img_cont .bed_image {
    border-radius: 175px;
    width: 100%;
  }
  .bedroom .bed_cnt:nth-child(even) .bed_text {
    order: 1;
  }
  .bedroom .bed_cnt:nth-child(even) .bed_img_cont {
    order: 2;
  }
}

/*# sourceMappingURL=style.css.map */
